<!-- FOOTER -->
<div class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div class="footerLink">
                    <h5>ABOUT US</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'terms_conditions' %}">Terms & Conditions </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-xs-12">
                <div class="footerLink">
                    <h5>BRANDS</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Swatch </a></li>
                        <li><a href="#">Rolex </a></li>
                        <li><a href="#">Casio</a></li>
                        <li><a href="#">Elite</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2 col-xs-12">
                <div class="footerLink">
                    <h5>Get in Touch</h5>
                    <ul class="list-unstyled">
                        <li>Call us at (555)-555-5555</li>
                        <li><a href="mailto:info@aldawlyeh.com.sa">info@aldawlyeh.com.sa</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="newsletter clearfix">
                    <h4>Newsletter</h4>
                    <h3>Sign up now</h3>
                    <p>Enter your email address and get notified about new products. We hate spam!</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="your email address"
                               aria-describedby="basic-addon2">
                        <a href="#" class="input-group-addon" id="basic-addon2">go <i
                                class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>