{% load staticfiles %}
<section class="lightSection clearfix">
    <div class="container">
        <div class="row remove_margin_right">
            <div class="col-xs-12">
                <div class="owl-carousel partnersLogoSlider">
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="{% static 'dawlyeh/img/home/partners/dell.png' %}" class="img img-responsive" alt="partner-img">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="{% static 'dawlyeh/img/home/partners/hp.gif' %}" alt="partner-img">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="{% static 'dawlyeh/img/home/partners/unisys.png' %}" alt="partner-img">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="{% static 'dawlyeh/img/home/partners/oracle.gif' %}" alt="partner-img">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="partnersLogo clearfix">
                            <img src="{% static 'dawlyeh/img/home/partners/cisco.png' %}" alt="partner-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>